<!DOCTYPE html>
<html>

	<head>
		<title>THE GAME - LE JEU N'EST PAS VOTRE AMI !</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="example.css" />
		<script src="jquery-1.7.min.js"></script>
	</head>

	<body>
		<img class="preload" src="img/cards.png" />
		<button id="buttonEndTurn">Fin de tour</button>

		<div id="card-table">

		</div>
		<!-- load this at the bottom so the #card-table element exists -->
		<script src="cards.js"></script>
		<script src="example.js"></script>
	</body>

</html>
