/* CSS commun pour la page d'accueil */
.HomeTypo {
  color: white !important;
  font-size: 1.25em !important;
}

.HomeCenter {
  text-align: center;
}

.HomePadding {
  padding-top: 2em;
}

.HomeButton {
  margin: 10px !important;
  font-size: 0.8em !important;
}
