.MuiSelect-root {
  font-size: 16px !important;
}

.MuiFormLabel-root {
  font-size: 16px !important;
}

.inputMarginCreate {
  margin-bottom: 2em !important;
}

.formMarginTop {
  margin-top: 1.5em !important;
  margin-bottom: 1em !important;
}
