.body {
  background: #555555;
  transition: all 0.5s;
  padding: 1px;
  height: 100%;
}
.veen {
  width: 70%;
  margin: 60px auto 0;
  background: rgba(255, 255, 255, 0.5);
  height: 450px;
  display: table;
  position: relative;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.veen > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}
.veen button {
  background: transparent;
  display: inline-block;
  padding: 10px 30px;
  border: 3px solid #fff;
  border-radius: 50px;
  background-clip: padding-box;
  position: relative;
  color: #fff;
  transition: all 0.25s;
}
.veen button.dark {
  border-color: #555555;
  background: #555555;
}
.veen .move button.dark {
  border-color: #700000;
  background: #700000;
}
.veen .splits p {
  font-size: 18px;
}
.veen button:active {
  box-shadow: none;
}
.veen button:focus {
  outline: none;
}
.veen > .wrapper {
  position: absolute;
  width: 40%;
  height: 120%;
  top: -10%;
  left: 5%;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  transition: all 0.5s;
  color: #303030;
  overflow: hidden;
}
.veen .wrapper > form {
  padding: 15px 30px 30px;
  transition: all 0.5s;
  background: #fff;
  width: 100%;
}
.veen .wrapper > form:focus {
  outline: none;
}
.veen .wrapper #login {
  padding-top: 20%;
  visibility: visible;
}
.veen .wrapper #register {
  transform: translateY(-80%) translateX(100%);
  visibility: hidden;
}
.veen .wrapper.move #register {
  transform: translateY(-80%) translateX(0%);
  visibility: visible;
}
.veen .wrapper.move #login {
  transform: translateX(-100%);
  visibility: hidden;
}
.veen .wrapper > form > div {
  position: relative;
  margin-bottom: 1.5em;
}
.veen .wrapper label {
  position: absolute;
  top: -7px;
  font-size: 12px;
  white-space: nowrap;
  background: #fff;
  text-align: left;
  left: 15px;
  padding: 0 5px;
  color: #999;
  pointer-events: none;
}
.veen .wrapper h3 {
  margin-bottom: 2em;
}
.veen .wrapper input {
  height: 40px;
  padding: 5px 15px;
  width: 100%;
  border: solid 1px #999;
}
.veen .wrapper input:focus {
  outline: none;
  border-color: #555555;
}
.veen > .wrapper.move {
  left: 45%;
}
.veen > .wrapper.move input:focus {
  border-color: #700000;
}
@media (max-width: 767px) {
  .veen {
    padding: 5px;
    margin: 0;
    width: 100%;
    display: block;
  }
  .veen > .wrapper {
    position: relative;
    height: auto;
    top: 0;
    left: 0;
    width: 100%;
  }
  .veen > div {
    display: inline-block;
  }
  .splits {
    width: 50%;
    background: #fff;
    float: left;
  }
  .splits button {
    width: 100%;
    border-radius: 0;
    background: #505050;
    border: 0;
    opacity: 0.7;
  }
  .splits button.active {
    opacity: 1;
  }
  .splits button.active {
    opacity: 1;
    background: #555555;
  }
  .splits.rgstr-btn button.active {
    background: #700000;
  }
  .splits p {
    display: none;
  }
  .veen > .wrapper.move {
    left: 0%;
  }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: inset 0 0 0 50px #fff;
}

/* CSS Bootstrap 3.3.7 */
body {
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button,
select {
  text-transform: none;
}
button {
  overflow: visible;
}
.h3,
h3 {
  font-size: 24px;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input {
  line-height: normal;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.submit {
  margin-top: 2em;
}
